.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/home-background.png");
  background-size: cover;
  align-items: stretch;
  position: relative;
}

.content {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 1152px;
  gap: 3.75rem;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;

  img {
    margin-bottom: 0.875rem;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    > h1 {
      font-size: 3rem;
      font-weight: 800;
      font-style: normal;
      margin-bottom: 1rem;
      line-height: 3.875rem;
      color: var(--gray-900);
      font-family: "Baloo 2", cursive;
    }

    > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
    }

    > button {
      width: 100%;
      margin: 1rem 0;
    }

    > a {
      display: block;
      font-weight: 600;
      text-decoration: none;
      color: var(--gray-700);
      transition: color 0.2s;

      &:hover {
        filter: brightness(0.875);
        text-decoration: underline;
      }
    }
  }

  .signup {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    color: var(--yellow-800);
    text-decoration: none;
    gap: 0.5rem;

    &:hover {
      filter: brightness(0.875);
    }
  }
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: inherit;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .content {
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    padding-bottom: 1.5rem;
    justify-content: center;
    flex-direction: column-reverse;

    img {
      width: 100%;
      height: auto;
      max-width: 480px;
    }
  }

  .login img {
    display: none;
  }
}
